

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.tall {
  min-height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.at-bottom {
  align-self: flex-end;
}